@model Contact
@{
    ViewData["Title"] = "Contact";
}


<Section id="contact" class="line">
    <div class="contact-form sec-pos">
        <form asp-action="Contact" asp-controller="Home" method="post">
            <h4 class="text-center heading-medium">Contact with Me</h4>

            <div class="form-group">
                <label for="name">Name</label>
                <input 
                       asp-for="@Model.Name"
                       type="text"
                       class="form-control"
                       name="name"
                       id="name"
                       placeholder="Name" />
                @Html.ValidationMessageFor(m=> Model.Name,"Name cannot be null",new {@style="color:red"})
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                       asp-for="@Model.Email"
                       type="text"
                       class="form-control"
                       name="email"
                       id="email"
                       placeholder="E-Mail" />
                @Html.ValidationMessageFor(m=> Model.Email,"Email cannot be null",new {@style="color:red"})
            </div>
            <div class="form-group">
                <label for="message">Mesaj</label>
                <textarea 
                          asp-for="@Model.message"
                          name="message"
                          id="message"
                          class="form-control"
                          rows="5"
                          placeholder="Message..."></textarea>
                @Html.ValidationMessageFor(m=> Model.message,"Message cannot be null",new {@style="color:red"})
            </div>
            <div class="text-center pt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>     
    </div>
</Section>
     
